.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

body {
  background: black;
}

/* .container div {
  text-align: left;
  margin-top: 10%;
  border-radius: 5px;
} */

.form-container {
  padding: 20px;
  background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  text-align: left;
  margin-top: 10%;
  border-radius: 5px;
}

.form-group label {
  font-family: open sans-serif;
  text-transform: capitalize;
  font-size: 1.2vw;
}

.form-group-prop {
  width: 50%;
}